html {
  font-size: 16px;
}

body {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

.scroll {
  scroll-snap-type: y mandatory;
  overflow: scroll;
  height: 100vh;
  scroll-behavior: smooth;
}
.scroll::-webkit-scrollbar {
  display: none;
}

section {
  width: 100vw;
  scroll-snap-align: start;
  scroll-margin: 71px;
}

.main_section {
  width: 100vw;
  height: 100vh;
  background: url(../images/main_bg.png) 0 center no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.direct_link {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 71px;
  background: #3c1b5e;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9999;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.3));
}
.direct_link h2 {
  font-family: "TmonMonsori";
  font-weight: 900;
  font-size: 19px;
  text-align: center;
  color: #fff;
  margin-right: 10px;
}
.direct_link h2 span {
  font-family: "TmonMonsori";
  font-weight: 900;
  font-size: 19px;
  text-align: center;
  color: #aa63eb;
}
.direct_ico {
  width: 42px;
  height: 19px;
}
/* 흰색박스 */
.main_swiper {
  width: 100%;
  height: auto;
  overflow: visible;
  padding-top: 1px;
  margin-top: -1%;
}
.main-swiper-wrapper {
  height: 100%;
  margin-top: 155px;
  position: relative;
}
.main-swiper-slide {
  width: 36vw;
  height: 36vw;
  border-radius: 37px;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  text-align: right;
}
.text_box {
  width: auto;
  height: 31vw;
  margin-top: 55px;
  margin-right: 27px;
  float: right;
  position: relative;
}
.text_box h2 {
  font-family: "Pretendard";
  font-weight: bold;
  font-size: 40px;
  color: #3c1b5e;
}
.text_box p {
  font-family: "Pretendard";
  font-weight: normal;
  font-size: 27px;
  color: #fff;
}
.text_box p:nth-child(2) {
  margin-top: 25px;
}
.text_box p:nth-child(3) {
  margin-top: 39px;
}
.text_box button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 86px;
  height: 32px;
  border-radius: 16px;
  background: #fff;
  border: none;
  color: #ac65ec;
  cursor: pointer;
}
.main_img {
  display: block;
  margin-top: 55px;
  margin-right: 22px;
  border-radius: 22px;
  width: 17.7vw;
  height: 31vw;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  float: right;
}
#main_left_bt {
  width: 71px;
  height: 71px;
  position: absolute;
  top: 15%;
  bottom: 0;
  margin: auto;
  left: 27.5vw;
}
#main_right_bt {
  width: 71px;
  height: 71px;
  position: absolute;
  top: 15%;
  bottom: 0;
  margin: auto;
  right: 27.5vw;
}
/* 흰색박스 끝 */
.main_left {
  position: absolute;
  left: 298px;
  bottom: 147px;
  width: 185px;
  height: 325px;
  border-radius: 15px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.main_right {
  position: absolute;
  right: 297px;
  bottom: 147px;
  width: 185px;
  height: 325px;
  border-radius: 15px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.nature_section {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}
.art_section {
  width: 100%;
  height: 100vh;
  background: url(../images/art_bg.png) 0 center fixed;
  overflow: hidden;
}
.display_section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.heart_section {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}
.mbti_section {
  width: 100%;
  height: 100vh;
  background: url(../images/mbti_bg.png) center 0 fixed;
  overflow: hidden;
}
/* 버튼 */
.bt {
  width: 71px;
  height: 71px;
  cursor: pointer;
  position: relative;
  z-index: 999;
}
.swiper-button-prev {
  width: 71px;
  height: 71px;
  position: absolute;
  top: 0;
  bottom: 80px;
  margin: auto;
}
.swiper-button-next {
  width: 71px;
  height: 71px;
  position: absolute;
  top: 0;
  bottom: 80px;
  margin: auto;
}
/* 환경---------------------------------- */
.sub_title {
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 23px;
  text-align: left;
  color: #bcbcbc;
  margin-top: 55px;
  text-align: center;
}
.title {
  font-family: "Pretendard";
  font-weight: bold;
  font-size: 40px;
  color: #9d56e6;
  margin-top: 5px;
  text-align: center;
}
.nature_wrap {
  width: 100%;
  height: 462px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 69px;
}
.nature_slide {
  width: 960px;
  height: 462px;
  display: flex;
  justify-content: space-between;
  margin: 0 300px;
  position: relative;
  left: 0;
}
.nature_slide li {
  width: 264px;
  height: 462px;
  float: left;
}
.nature_slide li img {
  height: 100%;
  border-radius: 22px;
  box-shadow: 10px 10px 13px rgba(0, 0, 0, 0.16);
}

/* 예술------------------------------------- */
.art_wrap {
  width: 100%;
  height: 462px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 69px;
}
/* 스와이퍼 css */
.body_swiper {
  width: 90%;
  height: 550px;
  margin-top: 70px;
}
.body_swiper_wrapper {
  width: 80%;
}
.body_swiper_slide {
  text-align: center;
}
.body_swiper_slide img {
  border-radius: 22px;
  filter: drop-shadow(10px 10px 13px rgba(0, 0, 0, 0.16));
  margin-top: 19px;
}
/* 마음-------------------------------------------- */
.heart_wrap {
  width: 100%;
  height: 462px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 69px;
}
.heart_slide {
  margin: auto;
  width: 1236px;
  height: 462px;
  display: flex;
  justify-content: space-between;
  margin: 0 160px;
  position: relative;
  left: 0px;
}
.heart_slide img {
  border-radius: 22px;
  box-shadow: 10px 10px 13px rgba(0, 0, 0, 0.16);
}
/* mbti----------------------------------------- */
.mbti_wrap {
  width: 100%;
  height: 462px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 69px;
}
.mbti_slide {
  margin: auto;
  width: 588px;
  height: 462px;
  display: flex;
  justify-content: space-between;
  margin: 0 486px;
  position: relative;
  left: 0px;
}
.mbti_slide img {
  border-radius: 22px;
  box-shadow: 10px 10px 13px rgba(0, 0, 0, 0.16);
}
/* footer------------------------------------------- */
footer {
  width: 100%;
  height: 236px;
  background-color: #707070;
  overflow: hidden;
  position: relative;
  scroll-snap-align: end;
}
.footer_box {
  width: 69%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}
.footer_logo {
  cursor: pointer;
}
.call {
  color: #fff;
  text-align: right;
}
.call h3 {
  font-family: "Noto Sans KR";
  font-weight: bold;
  font-size: 26px;
  letter-spacing: -0.02em;
  text-align: right;
  color: #fff;
  cursor: pointer;
}
.call p {
  margin-top: 11px;
  font-family: "Noto Sans KR";
  font-weight: normal;
  font-size: 20px;
  letter-spacing: -0.02em;
  line-height: 20px;
  text-align: right;
  color: #fff;
}
.footer_info {
  position: absolute;
  left: 15.4%;
  top: 104px;
  font-family: "Noto Sans KR";
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  color: #fff;
}
.copy {
  width: 220px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 24px;
  font-family: "Pretendard";
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: #fff;
}
/* 모바일 끄기 */
.mobile_call {
  display: none;
}
.mobile_call h3 {
  display: none;
}
.mobile_call p {
  display: none;
}
.mobile_footer_info {
  display: none;
}
/* 애니메이션 */
.shake {
  animation-name: slider_shake;
  animation-duration: 0.3s;
  animation-direction: alternate;
}
/* 마퀴 섹션 */
.hash {
  font-size: 100px;
  font-family: "Binggrae-Bold";
  color: transparent;
  -webkit-text-stroke: 3px #aaa;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}
.marquee-wrapper {
  text-align: center;
  height: 100vh;
}
.marquee-inner.to-left {
  animation: marqueeLeft 25s linear infinite;
}
.marquee-inner.to-right {
  animation: marqueeRight 25s linear infinite;
}
/* ------------------------- */
.marquee-wrapper .container {
  height: 100%;
  padding-top: 1px;
  margin-left: -14%;
}
.marquee-inner span {
  width: 50%;
  height: 15vw;
  float: left;
}
.marquee-wrapper .marquee-block.l1 {
  --l1-total-marquee-items: 4;
  height: 17vw;
  width: calc(33vw * (var(--l1-total-marquee-items)));
  box-sizing: border-box;
  position: relative;
  margin: auto;
  transform: rotate(-45deg);
  margin-left: -10vw;
}
.marquee-wrapper .marquee-block.l2 {
  --l2-total-marquee-items: 4;
  height: 17vw;
  width: calc(33vw * (var(--l2-total-marquee-items)));
  box-sizing: border-box;
  position: relative;
  margin: auto;
  transform: rotate(-45deg);
}
.marquee-wrapper .marquee-block.l3 {
  --l3-total-marquee-items: 5;
  height: 17vw;
  width: calc(33vw * (var(--l3-total-marquee-items)));
  box-sizing: border-box;
  position: relative;
  margin: auto;
  margin-top: -6vw;
  transform: rotate(-45deg);
}
.marquee-inner {
  display: block;
  justify-content: space-evenly;
  width: 200%;
  position: absolute;
}
.marquee-inner img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(10px 10px 13px rgba(0, 0, 0, 0.16));
}
.marquee-item {
  width: 30vw;
  height: 15vw;
  display: inline-block;
  margin: 0 0.6vw;
  transition: all 0.2s ease-out;
}

@keyframes marqueeLeft {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes marqueeRight {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes slider_shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* ---------------------------- */
/* ---------------------------- */
@media all and (max-width: 1550px) {
  .main_swiper {
    margin-top: -7%;
  }
  .main-swiper-slide {
    width: 50vw;
    height: 50vw;
    border-radius: 37px;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    text-align: right;
  }
  .main_img {
    display: block;
    margin-right: 0px;
    border-radius: 22px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    float: unset;
    margin: auto;
    width: 35%;
    height: 61.25%;
    margin-top: 5%;
  }
  .text_box {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    float: right;
    position: relative;
    text-align: center;
  }
  .text_box h2 {
    font-size: 18px;
  }
  .text_box p {
    font-size: 14px;
  }
  .text_box p:nth-child(2) {
    margin-top: 8px;
  }
  .text_box p:nth-child(3) {
    margin-top: 5px;
  }
  .text_box button {
    text-align: center;
    width: 61px;
    height: 23px;
    font-size: 12px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -40%;
  }
  #main_left_bt {
    width: 50px;
    height: 50px;
    left: 27.5vw;
  }
  #main_right_bt {
    width: 50px;
    height: 50px;
    right: 27.5vw;
  }
  /* 본문 스와이퍼 */
  .body_swiper_slide img {
    width: 80%;
    height: auto;
  }
  .bt {
    width: 50px;
    height: 50px;
  }
  .swiper-button-prev {
  position: absolute;
  top: 0;
  bottom: 35%;
  margin: auto;
}
.swiper-button-next {
  position: absolute;
  top: 0;
  bottom: 35%;
  margin: auto;
}
.sub_title {
  font-size: 18px;
  margin-top: 60px;
}
.title {
  font-size: 35px;
  margin-top: 5px;
}
.marquee-wrapper .container {
  height: 100%;
  padding-top: 1px;
  margin-left: -10%;
}
.marquee-inner span {
  width: 50%;
  height: 15vw;
  float: left;
}
.marquee-wrapper .marquee-block.l1 {
  --l1-total-marquee-items: 4;
  height: 15vw;
  width: calc(30vw * (var(--l1-total-marquee-items)));
  box-sizing: border-box;
  position: relative;
  margin: auto;
  transform: rotate(-45deg);
  margin-left: -10vw;
}
.marquee-wrapper .marquee-block.l2 {
  --l2-total-marquee-items: 4;
  height: 15vw;
  width: calc(30vw * (var(--l2-total-marquee-items)));
  box-sizing: border-box;
  position: relative;
  margin: auto;
  transform: rotate(-45deg);
}
.marquee-wrapper .marquee-block.l3 {
  --l3-total-marquee-items: 5;
  height: 15vw;
  width: calc(30vw * (var(--l3-total-marquee-items)));
  box-sizing: border-box;
  position: relative;
  margin: auto;
  margin-top: -6vw;
  transform: rotate(-45deg);
}
.marquee-inner {
  display: block;
  justify-content: space-evenly;
  width: 200%;
  position: absolute;
}
.marquee-inner img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(10px 10px 13px rgba(0, 0, 0, 0.16));
}
.marquee-item {
  width: 27vw;
  height: 13vw;
  display: inline-block;
  margin: 0 0.6vw;
  transition: all 0.2s ease-out;
}
}
/* ---------------------------- */
/* ---------------------------- */
@media all and (max-width: 460px) {
  .scroll {
    scroll-snap-type: none;
    overflow: scroll;
    height: 100vh;
    scroll-behavior: smooth;
  }
  .main_section {
    width: 100vw;
    height: 678px;
    position: relative;
    overflow: hidden;
  }
  .direct_link {
    height: 30px;
  }
  .direct_link h2 {
    font-size: 8px;
    margin-right: 5px;
  }
  .direct_link h2 span {
    font-size: 8px;
  }
  .direct_ico {
    width: 15px;
    height: 5px;
  }
  .main_swiper {
    padding-top: 1px;
    overflow: visible;
  }
  .main_swiper_wrapper {
    width: 100%;
    height: 100%;
    margin-top: 105px;
  }
  .main-swiper-slide {
    width: 10px;
    height: 443px;
    border-radius: 37px;
    background: rgba(255, 255, 255, 0);
    color: #fff;
    text-align: right;
    position: relative;
  }
  .main_img {
    width: 167px;
    height: 293px;
    display: block;
    margin: auto;
    border-radius: 22px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    float: none;
  }
  .bt {
    width: 30px;
    height: 30px;
  }
  #main_left_bt {
    width: 35px;
    height: 35px;
    position: absolute;
    top: -120px;
    left: 60px;
  }
  #main_right_bt {
    width: 35px;
    height: 35px;
    position: absolute;
    top: -120px;
    right: 60px;
  }
  .text_box {
    text-align: left;
    height: auto;
    position: absolute;
    left: 62px;
    bottom: 40px;
  }
  .text_box h2 {
    font-size: 18px;
  }
  .text_box p {
    font-size: 12px;
  }
  .text_box p:nth-child(2) {
    margin-top: 12px;
  }
  .text_box p:nth-child(3) {
    margin-top: 17px;
  }
  .text_box button {
    text-align: center;
    width: 61px;
    height: 23px;
    font-size: 12px;
    left: 0px;
    bottom: -50px;
  }
  .main_left {
    display: none;
  }
  .main_right {
    width: 59px;
    height: 102px;
    border-radius: 7px;
    right: 20px;
    bottom: 209px;
  }
  /* 스와이퍼 css */
  .body_swiper {
    width: 100%;
    height: 50%;
    margin-top: 99px;
  }
  .body_swiper_wrapper {
    width: 100%;
    height: 80%;
  }
  .body_swiper_slide {
    text-align: center;
  }
  .body_swiper_slide img {
    height: 100%;
    border-radius: 7px;
    filter: drop-shadow(10px 10px 13px rgba(0, 0, 0, 0.16));
    margin-top: 0;
  }
  /* 버튼 */
  .swiper-button-prev {
    position: absolute;
    top: 10%;
  }
  .swiper-button-next {
    position: absolute;
    top: 10%;
  }
  /* 환경---------- */
  .nature_section {
    height: 472px;
  }
  .title {
    font-size: 23px;
    margin-top: 11px;
  }
  .sub_title {
    font-size: 13px;
    margin-top: 20px;
  }
  .nature_wrap {
    height: 177px;
    margin-top: 99px;
  }
  .nature_slide {
    width: 320px;
    height: 177px;
    margin: 0;
  }
  .nature_slide li {
    width: 100px;
    height: 177px;
  }
  .nature_slide li img {
    border-radius: 7px;
  }
  #nature_prev {
    position: absolute;
    left: 0;
  }
  #nature_next {
    position: absolute;
    right: 0;
  }
  /* 예술-------------------- */
  .art_section {
    height: 484px;
  }
  .art_wrap {
    height: 177px;
    margin-top: 74px;
    align-items: start;
    position: relative;
  }
  .art_slide {
    width: 540px;
    height: 177px;
  }
  .art_slide li {
    width: 100px;
    height: 177px;
    margin-right: 10px;
  }
  .art_slide li:last-child {
    margin-right: 0;
  }
  .art_slide img {
    width: 100px;
    height: 177px;
    border-radius: 7px;
  }

  /* 디스플레이 섹션 */
  .display_section {
    height: 484px;
  }
  .marquee-wrapper {
    text-align: center;
    height: 100h;
  }
  .marquee-wrapper .container {
    height: 44vh;
    padding-top: 1px;
    margin-left: -30vw;
  }
  .marquee-inner span {
    width: 50%;
    float: left;
  }
  .marquee-wrapper .marquee-block.l1 {
    --l1-total-marquee-items: 4;
    height: 35%;
    width: calc(350px * (var(--l1-total-marquee-items)));
    box-sizing: border-box;
    position: relative;
    margin: auto;
    transform: rotate(-45deg);
    margin-left: -100vw;
  }
  .marquee-wrapper .marquee-block.l2 {
    --l2-total-marquee-items: 4;
    height: 35%;
    width: calc(350px * (var(--l2-total-marquee-items)));
    box-sizing: border-box;
    position: relative;
    margin: auto;
    margin-top: -70vw;
    transform: rotate(-45deg);
  }
  .marquee-wrapper .marquee-block.l3 {
    --l3-total-marquee-items: 5;
    height: 35%;
    width: calc(350px * (var(--l3-total-marquee-items)));
    box-sizing: border-box;
    position: relative;
    margin: auto;
    margin-top: -10vw;
    transform: rotate(-45deg);
  }
  .marquee-inner {
    display: block;
    justify-content: space-evenly;
    width: 200%;
    position: absolute;
  }
  .marquee-inner img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(10px 10px 13px rgba(0, 0, 0, 0.16));
  }
  .marquee-inner.to-left {
    animation: marqueeLeft 25s linear infinite;
  }
  .marquee-inner.to-right {
    animation: marqueeRight 25s linear infinite;
  }
  .marquee-item {
    width: 320px;
    height: 148px;
    display: inline-block;
    margin: 0 10px;
    transition: all 0.2s ease-out;
  }
  /* 마음---------------------------------- */
  .heart_section {
    height: 483px;
  }
  .heart_wrap {
    height: 177px;
    margin-top: 74px;
    align-items: start;
    position: relative;
  }
  .heart_slide {
    width: 540px;
    height: 177px;
    left: 60px;
  }
  .heart_slide li {
    width: 100px;
    height: 177px;
    margin-right: 10px;
  }
  .heart_slide li:last-child {
    margin-right: 0;
  }
  .heart_slide img {
    width: 100px;
    height: 177px;
    border-radius: 7px;
  }
  #heart_prev {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  #heart_next {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  /* mbti---------------------------------- */
  .mbti_section {
    height: 483px;
    overflow: hidden;
  }
  .mbti_wrap {
    height: 177px;
    margin-top: 74px;
    align-items: start;
    position: relative;
  }
  .mbti_slide {
    width: 540px;
    height: 177px;
    left: 60px;
  }
  .mbti_slide li {
    width: 100px;
    height: 177px;
    margin-right: 10px;
  }
  .mbti_slide li:last-child {
    margin-right: 0;
  }
  .mbti_slide img {
    width: 100px;
    height: 177px;
    border-radius: 7px;
  }
  #mbti_prev {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  #mbti_next {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  /* 푸터------------------------------------- */
  footer {
    height: 225px;
  }
  .footer_box {
    width: 360px;
    display: block;
  }
  .footer_logo {
    width: 108px;
    margin: auto;
  }
  .footer_logo img {
    height: 28px;
  }
  .call {
    display: none;
  }
  .footer_info {
    display: none;
  }
  .mobile_call {
    display: block;
    color: #fff;
    margin-top: 18px;
  }
  .mobile_call h3 {
    display: block;
    font-size: 13px;
  }
  .mobile_call p {
    display: block;
    font-size: 10px;
    line-height: 10px;
    margin-top: 11px;
  }
  .mobile_footer_info {
    width: 360px;
    margin: auto;
    display: block;
    font-weight: 300;
    color: #fff;
    font-size: 9px;
    line-height: 15px;
    margin-top: 15px;
  }
  .copy {
    font-weight: 300;
    font-size: 9px;
    text-align: center;
    bottom: 0;
  }
}
